.box{
    height: 136px;
    margin-top: 35px;
   border-radius: 3px;
    background: linear-gradient(to right,   #0EEEA9 0%,  #1352BF 100%,  #1352BF 60%); 
}
.container {
    max-width: 1500px;
}

.whitebox{
    height: 140px;
   border-radius: 3px;
    background:  white; }

    .textbox{
        /* width: 106px; */
        height: 30px;
    }
    .TextboxType{
        height: 30px;  
        margin-left: -19px;
        width: 86px;
        font-family: 'Roboto';
        font-size: 13px;
    }
    .headings{
        font-family: 'Roboto';
        font-size: 13px;
        margin-top: 35px;
        margin-left: 5px;
    }
    .Gtype{
        font-family: 'Roboto';
        font-size: 13px;
        margin-top: 35px;
        margin-left:-7px;

    }
    .size{
        margin-left: 6px;
        height: 29px;
    }
    .GoalWt{
        height: 28px; 
        width: 66px;
       
    }
    .GoalWtHeading{
        font-family: 'Roboto';
        font-size: 13px;
        margin-top: 35px;
        margin-left: -5px;
    }

.dropdown{
    height:49px;
    width: 107px;
    margin-left: -13px;
    font-size: 12px;
}
.ADDbutton{
    margin-top: 51px;
    margin-left: -25px; 
    font-family: 'Roboto';
    color: white;
    background-color: blue;
}

.select.form-control:not([size]):not([multiple]) {
    height: calc(0rem + 0px);}


    .table1{
        width: 86%;
        margin-left: 105px;
    }
    .head1{
        font-family: 'Roboto';
        color: #8306FF;
        margin-top: 47px;
        margin-left: 111px;
        font-size: 17px;
    }
    .boxhead{
        font-family: 'Roboto';
        font-size: 14px;
        color: white;
        margin-top: 33px;
    }
    .RepoteeName{
        font-family: 'Roboto';
        font-size: 18px;
        color: white;   
    }
    
.Message{
    color: blue;
    font-family: 'Roboto';
    margin-left: 576px;;
}
     .margin{
        margin-left: 16px; 
     }
           

.tableData{
    font-family: 'Roboto';
    size: 5px;
}              

 select.form-control:not([size]):not([multiple])
  {
 height: calc(2rem + 0px);
   }
    .reset{
        margin-top: 51px;
        margin-left: -25px;
    }  
    .FinalBtn{
        font-family: Roboto;
       background-color: #f2e9de;
       margin-top: 33px;
       margin-left:801px; 
    }
    .FinalBtnEmp{
        font-family: Roboto;
       background-color: #f2e9de;
       margin-top: 33px;
       margin-left: 801px;
       /* margin-left: 576px; */
    }
   .DeleteMsg{
   position: absolute;
   color: #2c16df;
      font-family: 'Roboto';
     font-size: 14px;
   }
   .finalizemsg{
    /* position: absolute; */
    color: #2c16df;
       font-family: 'Roboto';
      font-size: 14px;
      margin-left: 639px;
      margin-top: 42px;
   }
    .finalizeEmpmsg{
        color: #2c16df;
       font-family: 'Roboto';
      font-size: 14px;
      margin-top: 42px;
      margin-left: 639px;
    }
   .DeleteOk{
    font-family: 'Roboto';
    font-size: 14px;
    border-radius: 8px;
   color: #1522c8;
  }
  .DeleteNO{
    font-family: 'Roboto';
   font-size: 14px;
   border-radius: 8px;
    color: #e63a10;
   }
    .reviewerDRopdwn button.dropdown-toggle.btn.btn-primary{
        width:100px;
        overflow:hidden;
        text-overflow: ellipsis;
    }