<div class="row align1">
  <div class="col pagehead">
    Reportee
  </div>
</div>
<div class="row">
  <div class="col" style="margin-top:5px;">
    <div class="example-container mat-elevation-z8 matatable ">
      <div class="example-header">
        <mat-form-field>
          <input matInput (keyup)="applyReporteeFilter($event.target.value)" placeholder="Search here">
        </mat-form-field>
      </div>

      <mat-table #table [dataSource]='dataSource'>
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef>
          </mat-header-cell>
          <mat-cell *matCellDef="let reportee">
            <div>
              <button (click)="Rate(reportee.EmailId,reportee.Name,reportee.ReporteeId,reportee.Designation.Id,'Reportee')">Rate</button>
            </div>

          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Name">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let reportee"> {{reportee.Name}} </mat-cell>
        </ng-container>


        <ng-container matColumnDef="EmpNO">
          <mat-header-cell *matHeaderCellDef> Employee No </mat-header-cell>
          <mat-cell *matCellDef="let reportee">{{reportee.EmployeeNo}} </mat-cell>
        </ng-container>


        <ng-container matColumnDef="Designation">
          <mat-header-cell *matHeaderCellDef> Designation </mat-header-cell>
          <mat-cell *matCellDef="let reportee"> {{reportee.Designation.Name}} </mat-cell>
        </ng-container>


        <ng-container matColumnDef="EmailId">
          <mat-header-cell *matHeaderCellDef> Email Id </mat-header-cell>
          <mat-cell *matCellDef="let reportee"> {{reportee.EmailId}} </mat-cell>
        </ng-container>

        <mat-header-row class="header" *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-10 NotFound" *ngIf="!reportee||reportee.length==0 ">
    No records found !
  </div>
</div>


<!-- SESSION EXPIRE ALERT -->
<ng-template #contactTemplateRef let-dialogRef="dialogRef">
  <app-session-expire-dialog (childdata)='dialogRef.close(true)'></app-session-expire-dialog>
</ng-template>