<div class="row align1">

  <div class="col pagehead">
    Reportees
  </div>
  <!-- <div class="col ">
    <input type="search" class="form-control search" [(ngModel)]="searchText" placeholder="Search here" />
  </div>  -->
</div>
<div class="row">
  <div class="col" style="margin-top:5px;">
    <div class="example-container mat-elevation-z8 matatable ">
      <div class="example-header">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search here">
        </mat-form-field>
      </div>

      <mat-table #table [dataSource]='dataSource'>
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef>
          </mat-header-cell>
          <mat-cell *matCellDef="let reportee">
          <!-- href="http://localhost:4200/# /user/ReporteeGoal?data={{reportee.EmailId}}:{{reportee.Name}}:{{reportee.Role}} -->
           <div *ngIf="GoalFlag == true && (reportee.GoalStatus=='Not Set'|| reportee.GoalStatus == 'Draft')">
          <button (click)="AsignGoal(reportee.EmailId,reportee.Name,reportee.Role,reportee.ReporteeId)">AssignGoal</button>
        </div>
       
        </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Name">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let reportee"> {{reportee.Name}} </mat-cell>
        </ng-container>


        <ng-container matColumnDef="EmpNO">
          <mat-header-cell *matHeaderCellDef> Employee No </mat-header-cell>
          <mat-cell *matCellDef="let reportee">{{reportee.EmployeeNo}} </mat-cell>
        </ng-container>


        <ng-container matColumnDef="Designation">
          <mat-header-cell *matHeaderCellDef> Designation </mat-header-cell>
          <mat-cell *matCellDef="let reportee"> {{reportee.Designation.Name}} </mat-cell>
        </ng-container>


        <ng-container matColumnDef="EmailId">
          <mat-header-cell *matHeaderCellDef> Email Id </mat-header-cell>
          <mat-cell *matCellDef="let reportee"> {{reportee.EmailId}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="GoalsCount">
          <mat-header-cell *matHeaderCellDef> Goal Count </mat-header-cell>
          <mat-cell *matCellDef="let reportee"> {{reportee.GoalsCount}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="GoalStatus">
          <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
          <mat-cell *matCellDef="let reportee"> {{reportee.GoalStatus}} </mat-cell>
        </ng-container>


        <mat-header-row class="header"*matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-10 displaymsg" *ngIf="!reportee||reportee.length==0 " >
   No records found !
  </div>

</div>

<!-- SESSION EXPIRE ALERT -->
<ng-template #contactTemplateRef let-dialogRef="dialogRef">
    <app-session-expire-dialog (childdata)='dialogRef.close(true)'></app-session-expire-dialog>
  </ng-template>
