.align1{
    margin-top:40px;
    font-family: 'Roboto';
}
.pagehead{
    margin-left: 130px;
    color:#8306FF;
    font-size: 21px;
    
}
.search{
    width: 392px;
    font-size: 13px;
    margin-left: 89px;
}

.table1{
    width: 81%;
    margin-top: 19px;
    margin-left: 120px;
    font-size: 13px;
    font-family: 'Roboto';
   
}

.filter{

      margin-left: 981px;
}
.matatable{
    width:85%;
    margin-left:110px;
}
.displaymsg{
    /* background: white; */
    margin-left: 123px;
    font-family: 'Roboto';
    font-size: 17px;
    margin-top: -33px;
}


.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    margin-bottom: 50px;
  }
  
  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }
  
  .mat-form-field {
    margin-left: 656px;
    font-size: 14px;
    width: 46%;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
   
  }
  .mat-form-field[_ngcontent-c1] {
    margin-left: 700px;
    font-size: 14px;
    width: 44%;
    }  

    .body{
        overflow-x: hidden;
    }
    .example-container[_ngcontent-c1] {
        
        width: 85%;
        margin-top: 45px;
        margin-left: 110px; 
    }

    element.style {
        overflow-x: hidden;
    }
    .header{
        background-color: #DFE0E1;
        font-family: 'Roboto';
        font-size: 10px;
    }
    .mat-header-cell {
        font-size: 14px;
        color:#8306FF;}


        .cdk-global-overlay-wrapper, .cdk-overlay-container {
            pointer-events: none;
            top: 175px;
            left: 253px;
            height: 7%;
            width: 1%;
        }
        .mat-dialog-container{
            width:1%;
            height: 2%;
        }


