<div class="login  " style="overflow-y:hidden;">
  <div class="row">

    <div class="col-lg-4 "></div>

    <div class="col-lg-4">
      <div class="vl text">
        <ul style=" list-style-type:none;">
          <li> IMAGINEERING </li>
          <li>TRANSFORMED </li>
          <li>TOMORROW</li>
        </ul>
        <img class="img" src=".\assets\Images\Group 102.png">
      </div>

    </div>
    <div class="col-lg-4"></div>
  </div>
  <div class="row">

    <div class="col-lg-4 "></div>
    <div class="col-lg-4 col-lg-offset-4">

      <div class="box heading" style=" margin-left:79px;">
        <form class="example-form" [formGroup]="myform" (ngSubmit)="OnSubmit()">

          <mat-form-field class="example-full-width">
            <input matInput placeholder="New Password" type="password" formControlName="newpassword">
            <!-- <control-messages [control]="myform.controls.newpassword"></control-messages> -->
          </mat-form-field>

          <div class="msg" style="color:red;" *ngIf="myform.controls['newpassword'].invalid && myform.controls['newpassword'].touched ">Password Required and min-length : 5 digits</div>

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Confirm Password" type="password" formControlName="confirm">
            <!-- <control-messages [control]="myform.controls.confirm"></control-messages> -->
          </mat-form-field>

          <div class="msg" style="color:red;" *ngIf="myform.controls['confirm'].invalid && myform.controls['confirm'].touched">Password Required and min-length : 5 digits</div>
          <div class="msg" style="color:red;" *ngIf="myform.controls['confirm'].value.length &gt; 7 && myform?.errors?.mismatch">Password Not Matched</div>
          <button mat-raised-button class="LoginButton" [disabled]="!myform.valid" style="color:white;">DONE </button>
        </form>

        <div> {{msg}}</div>

        <div *ngIf="SubmitStatus === true">
           <mat-spinner class="progressbar" > </mat-spinner>
          </div>
      </div>
      <div class="col-lg-4 loginbackground"></div>
    </div>
  </div>
</div>
<div class="row"></div>