<div>

    <!-- <select class='select-option' required [(ngModel)]='optionSelected' (ngModelChange)='onOptionsSelected($event)'>
        <option class='option' *ngFor='let option of options' [value]="option">{{option}}</option>
    </select> -->

  <!-- <div class="select">
<form class="example-form">
  <mat-form-field class="example-full-width">
    <input  type="text" placeholder="--Select Reportee--" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
    <mat-autocomplete class="reporteeSelect" #auto="matAutocomplete" >
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option" (click)="reportee(option)">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
</div> -->

<div class="select">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input  type="text" placeholder="--Select Reportee--" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
      <mat-autocomplete class="reporteeSelect" #auto="matAutocomplete" >
        <mat-option *ngFor="let reportee of filteredOptions | async" [value]="reportee.Name" (onSelectionChange) = "OnChange(reportee.ReporteeId)">
          {{ reportee.Name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
  </div>

<div class="align"*ngIf="showGrid">
    <table class="table table1 data" style="max-height:100px;text-align: center;">
        <thead>
          <tr style=" background:#DFE0E1; 
          color:#8306FF;">
            <th>Goal</th>
            <th>Goal Type</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Weightage </th>
            <th>Reviewer </th>
            <th>Rating</th>
            <th>Comment</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="GoalsCount == 0" style="text-align: left;">
              No records found !
          </tr>
          <tr style=" background:white;" *ngFor="let goal of mergedArray">
            <td>{{goal.Goal}} </td>
            <td *ngIf="goal.GoalType == 1">Organization</td>
            <td *ngIf="goal.GoalType == 2">Desgination</td>
            <td *ngIf="goal.GoalType == 3">Managerial</td>
            <td *ngIf="goal.GoalType == 4">Employee</td>
            <td>{{goal.StartDate | date: 'dd/MM/yyyy'}} </td>
            <td>{{goal.EndDate | date: 'dd/MM/yyyy'}} </td>
            <td>{{goal.Weightage}}</td>
            <td>{{goal.Reviewer}}</td>
            <td>{{goal.Rating}}</td>
            <td>{{goal.Comment}}</td>

            <!-- <td *ngIf="(goal.Id == 0 && Show!=goal.GoalId+''+goal.GoalType) || (goal.Id != 0 && Show!=goal.GoalId+''+goal.GoalType)">
              {{goal.Rating}}
            </td>

            <td *ngIf="goal.Id == 0 && Show == goal.GoalId+''+goal.GoalType">
              <input class="form-control" style="width:54%; height: 26px;" type="text" formControlName="Rating" [(ngModel)]="rt">
              <div class="errmsg" *ngIf="myform.controls['Rating'].invalid && myform.controls['Rating'].touched ">*this field is mandatory.</div>
              <div class="errmsg" *ngIf="myform.controls['Rating'].hasError('min') || myform.controls['Rating'].hasError('max')">
                *Range[0-5].
              </div>
            </td>
            <td *ngIf="goal.Id != 0 && Show == goal.GoalId+''+goal.GoalType">
              <input class="form-control" style="width:54%; height: 26px;" type="text" formControlName="Rating" [(ngModel)]="goal.Rating ">
              <div class="errmsg" *ngIf="myform.controls['Rating'].invalid && myform.controls['Rating'].touched ">*this field is mandatory.</div>
              <div class="errmsg" *ngIf="myform.controls['Rating'].hasError('min') || myform.controls['Rating'].hasError('max')">
                *Range[0-5].
              </div>
            </td>

            <td *ngIf="(goal.Id == 0 && Show!=goal.GoalId+''+goal.GoalType) || (goal.Id != 0 && Show!=goal.GoalId+''+goal.GoalType)">
              {{goal.Comment}}
            </td>

            <td *ngIf="goal.Id == 0 && Show == goal.GoalId+''+goal.GoalType">
              <input class="form-control" style="width:80%;height: 30px;" type="text" formControlName="Comment" [(ngModel)]="ct">
              <div class="errmsg" *ngIf="myform.controls['Comment'].invalid && myform.controls['Comment'].touched ">*this field is mandatory.</div>
              <div class="errmsg" *ngIf="myform.controls['Comment'].hasError('minlength')">
                *Atleast 8 characters long.
              </div>
            </td>
            <td *ngIf="goal.Id != 0 && Show == goal.GoalId+''+goal.GoalType">
              <input class="form-control" style="width:80%;height: 30px;" type="text" formControlName="Comment" [(ngModel)]="goal.Comment">
              <div class="errmsg" *ngIf="myform.controls['Comment'].invalid && myform.controls['Comment'].touched ">*this field is mandatory.</div>
              <div class="errmsg" *ngIf="myform.controls['Comment'].hasError('minlength')">
                *Atleast 8 characters long.
              </div>
            </td> -->
          </tr>
        </tbody>
      </table>

  <!-- <div class="row buttonGap">
  <button class ="accordion" (click)="Individual= true">Individual Goals</button>
</div> -->
<!-- <table  class="table table1 data">
    <thead>
      <tr style=" background:#DFE0E1; 
      color:#8306FF;">
        <th>Goals</th>
        <th>Goal Type</th>
        <th>Reviewer Name</th>
        <th>Reviewer Comment</th>
        <th>Reviewer Rate </th>
      </tr>
    </thead>
    <tbody>
      <tr style=" background:white;" >
        <td>hehjhj</td>
        <td>jkhk</td>
        <td>njhjh</td>
        <td>jkkk</td>
        <td>jnkjk</td>
      </tr>
    </tbody>
  </table> -->

<!-- <div class="row buttonGap">
  <button class ="accordion"(click)="Designation =true">Designation Goals</button>
</div>
<table *ngIf="Designation " class="table table1 data">
    <thead>
      <tr style=" background:#DFE0E1; 
      color:#8306FF;">
        <th>Goals</th>
        <th>Goal Type</th>
        <th>Reviewer Name</th>
        <th>Reviewer Comment</th>
        <th>Reviewer Rate </th>
      </tr>
    </thead>
    <tbody>
      <tr style=" background:white;" >
        <td>hehjhj</td>
        <td>jkhk</td>
        <td>njhjh</td>
        <td>jkkk</td>
        <td>jnkjk</td>
      
      </tr>
    </tbody>
  </table>
  <div class="row buttonGap">
  <button class ="accordion"(click)="Organization =true">Organization Goals</button>
</div>
<table *ngIf="Organization" class="table table1 data">
    <thead>
      <tr style=" background:#DFE0E1; 
      color:#8306FF;">
        <th>Goals</th>
        <th>Goal Type</th>
        <th>Reviewer Name</th>
        <th>Reviewer Comment</th>
        <th>Reviewer Rate </th>
      </tr>
    </thead>
    <tbody>
      <tr style=" background:white;" >
        <td>hehjhj</td>
        <td>jkhk</td>
        <td>njhjh</td>
        <td>jkkk</td>
        <td>jnkjk</td>
      
      </tr>
    </tbody>
  </table> -->
</div>
</div>